<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">

<!-- 로그인 하기 -->
	<select id="loginPost" resultType="DietDTO" parameterType="DietDTO">
		SELECT
			EMAIL,
			USER_AN,
			PASSWORD,
			USER_NO
		FROM
			USER_INFO
		WHERE
			EMAIL = #{email} AND PASSWORD = #{password}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="emailCheck" parameterType="DietDTO" resultType="DietDTO">
		SELECT 
			EMAIL 
		FROM 
			USER_INFO
		WHERE 
			EMAIL = #{email}
	</select>
	
	<!-- 회원가입 하기 -->
	<insert id="insertMember" parameterType="DietDTO">
		INSERT INTO USER_INFO(
			USER_NO,
			EMAIL,
			PASSWORD,
			USER_AN,
			USER_NAME,
			ADDR,
			ADDR2,
			REG_ID,
			CHD_ID
		)
		VALUES(
			(SELECT NVL(MAX(U.USER_NO),0)+1 FROM USER_INFO U WHERE 1=1),
			#{email},
			#{password},
			#{user_an},
			#{user_name},
			#{addr},
			#{addr2},
			#{user_name},
			#{user_name}
		)
	</insert>

	<!-- 회원가입시 생성되는 회원 기초대사량 -->
	<insert id="insertMetabolism" parameterType="DietDTO">
		INSERT INTO BODY_INFO(
			USER_NO,
			KEEP_KCAL,
			ACTIVITY,
			SEX,
			BASIC,
			GOAL_KCAL,
			TALL,
			AGE,
			WEIGHT,
			HOW_EXER,
			REG_ID,
			CHD_ID
		)
		VALUES(
			(SELECT NVL(MAX(B.USER_NO),0)+1 FROM BODY_INFO B WHERE 1=1),
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			#{user_name},
			#{user_name}
		)
	</insert>

	<!-- 비밀번호 수정을 위해 비밀번호 가져오기 -->
	<select id="getpwd" resultType="DietDTO" parameterType="DietDTO">
		SELECT
			PASSWORD
		FROM
			USER_INFO
		WHERE
			USER_NO = #{user_no} AND PASSWORD = #{password}
	</select>

	<!-- 비밀번호 수정 -->
	<update id="pwdChange" parameterType="DietDTO">
		UPDATE USER_INFO
		SET
			PASSWORD = #{password}
		WHERE
			USER_NO = #{user_no}
	</update>
	
	
	<!-- 임시 비밀번호로 값 업데이트 쿼리 -->
   	<update id="setTmpPwd" parameterType="DietDTO">
      UPDATE USER_INFO
      SET
      	PASSWORD = #{password}
      WHERE
      	EMAIL = #{email} AND USER_NAME = #{user_name}
   	</update>
   
    <!-- 비밀번호 수정을 위해 비밀번호 가져오기 -->
	<select id="getemailnmchk" resultType="DietDTO" parameterType="DietDTO">
		SELECT
			EMAIL,
			USER_NAME
		FROM
			USER_INFO
		WHERE
			EMAIL = #{email} AND USER_NAME = #{user_name}
	</select>
	
   
   <!-- 관리자 페이지 -->
	<select id="rootPage" resultType="DietDTO">
		SELECT 
			*
		FROM 
			USER_INFO
		WHERE 
			<![CDATA[USER_NO > 0 ]]>
	</select>
	
	<delete id="deleteUser" parameterType="DietDTO">
	DELETE
	FROM USER_INFO 
	where USER_NO = ${user_no}
	</delete>
	
	<delete id="deleteMetabolism" parameterType="DietDTO">
	DELETE
	FROM BODY_INFO 
	where USER_NO = ${user_no}
	</delete>
   
</mapper>